*{
    margin: 0;
}
body{
    background-color: black;
    font-family: "HelveticaNeueLTArabic-Roman";
}
        /* <!-- start navbar --> */
.navbar{
    height: 80px;
    background-color: black;
    position: sticky;
    top: 0 ;
    z-index: 9;
    
}
.sing-in{
    float: left;
}
.input1{
    /* color: wheat; */
    width: 130px;
    margin: 20px 30px 30px;
    padding: 7px;
    background-color: yellow;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 10px;
}
.input1:hover{
    background-color: yellowgreen;
}
.logo {
    margin-left: 70px;
    width: 50px;
    float: left;
}
.logo a img{
    margin-top: 20px;
    width: 100%;
}

.nav-links{
    list-style: none;
    float: right;
    margin-right: 80px;
}
li{
    float: left;
    padding: 28px;
}
.clear{
    clear: both;
}
a{
    text-decoration: none;
    color: wheat;
    font-size: 19px;
    font-weight: bold;
    transition: 0.7s;
}
a:hover{
color: yellow;
}
.l1{
    color: yellow;
}
        /* <!-- end navbar --> */
        /* <!-- start home  --> */
.home{
    background-image: url("../images/films/promo_web_posters_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0,.9);
    background-blend-mode: overlay;
    height: calc(100vh - 80px);
    width: 100%;
    position: relative;
}
.home-content{
    text-align: center;
    color: wheat;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50% , -50%);
}
h1{
    color: wheat;
    font-size: 52px;
    padding-bottom: 20px;
    text-align: center;
}
.p1{
    font-size: 20px;
    line-height: 35px;
    font-weight: bold;
    padding-bottom: 20px;
}
.home-content a{
    padding-top: 10px;
    display: block;
    width: 26%;
    height: 40px;
    background-color: black;
    margin: auto;
    border: 2px solid wheat;
    border-radius: 5px;
    font-size: 28px;
}
        /* <!-- end home  --> */
        /* <!-- start content --> */
.h1{
    padding-top: 30px;
    color: wheat;
    font-size: 52px;
    padding-bottom: 20px;
    text-align: center;
}

/* .last{
} */
.container {
    margin-left: 55px;
} 
.all .over{
    color: wheat;
}
.card{
    width: 30%;
    margin :20px;
    float: left;
    position: relative;
    border: 1px solid white;
}
.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card .over{
    height: 30%;
    position: absolute;
    bottom: 0;
    text-align: right;
    background-color: rgba(0, 0, 0,.5);
    transition: .4s;
}
.card:hover .over{
    height: 100%;
}
        /* <!-- end content --> */
        /* <!-- start footer --> */

.footer{
    width: 100%;
    height: 140px;
    border-top: 2px solid wheat;
}
.footer-logo{
    width: 70px;
    margin: 40px;
    margin-left: 100px;
    float: left;
}
.footer-logo img{
    width: 100%;
}

.footer-links{
    float: left;
    margin:auto ;
    margin-left: 200px;
}

.footer-ul li{
    /* float: none; */
    margin-top: 60px;
    padding: 10px;
}

.footer .footer-links{
    align-items: center;
}
.footer-social{
    float: right;
    margin-right: 20px;
}
.footer-social img{
    width: 40px;
}
.footer-social a img{
    display: block;
    margin-left: 10px;
    padding-bottom: 10px;
}

        /* <!-- end footer --> */