*{
    margin: 0;
}
body{
    position: relative;
    background-image: url("../images/films/promo_web_posters_bg.png");
    background-size: cover;
    background-color: rgba(0, 0, 0,0.95);
    background-blend-mode: overlay;
    position: sticky;
}
.all{
    position: relative;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%,10%);
    width: 600px;
    background-color: rgba(0, 0, 0, .4);
    height: 800px;
}
.all .logo{
    padding-top: 40px;
    padding-bottom: 20px;
    width: 35%;
    margin: auto;
    color: whitesmoke;
}
.logo img{
    width: 30%;
    height: 50px;
    /* padding: 10px; */
}
a{
    text-decoration: none;
    display: block;
    color: black;
}
.other img{
    width: 30px;
    padding-bottom: 2px;
    border-radius: 50%;
}
h3{
    padding-bottom: 10px;
    color: whitesmoke;
    font-weight: bold;
}
.other {
    width: 80%;
    margin: auto;
}
.other a{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 20px;
    background-color: whitesmoke;
    padding: 12px;
    border: 1px solid black;
    border-radius: 5px;
    font-weight: bold;
}
.other a img{
    float: right;
    height: 70%;
}

.form{
    width: 80%;
    position: absolute;
}
.form .i1{
    width: 100%;
    margin-left: 12%;
    padding: 10px;
    text-align: right;
    margin-top: 10px;
    background: none;
    color: whitesmoke;
    border-radius: 5px;
}
.form .i2,.i3{
    width: 105%;
    margin-left: 12%;
    padding: 10px;
    text-align: right;
    margin-top: 20px;
    background: yellow;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    margin-bottom: 40px;
}

.robot{
    margin-top: 20px;
    width: 80%;
    float: right;
    background-color: wheat;
}
.robot img{
width: 30%;
height: 90px;
float: left;
}
.robot .i3{
    margin-top: 20px;
    width: 20px;
}

.p1{
    width: 100%;
    position: absolute;
    color: whitesmoke;
    margin: auto;
}

.p1 a{
    display: inline;
    color: whitesmoke;
    text-decoration: underline;
    text-decoration-color:whitesmoke ;
    font-weight: bold;
    padding-left: 60px;
}
.p1 a:hover{
    color: yellow;
}
.i3{
    background: none;
    color: whitesmoke;
    border: none;
}